@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer {
  .container {
    @apply px-[30] mx-auto;
  }
  .element-center {
    @apply flex justify-center items-center flex-col;
  }
  .btn {
    @apply bg-[#42b0d1] hover:bg-[#8cdae4] transition-all duration-200;
  }
}

/*  import font Reboto  */
@font-face {
  font-family: Reboto;
  src: url("../src/assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #181e2e;
  height: 5000px;
}
